@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500&display=swap");

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

nav {
  padding: 16px;
}

nav img {
  width: 100px;
}

ul li {
  list-style: none;
  padding: 3px 0;
}

ul {
  padding: 0;
}
ul li {
  display: flex;
  align-items: center;
}

#list li span {
  display: inline-flex;
}

#list li span img {
  width: 12px;
}

#list {
  display: none;
}

#menu-list {
  width: 30px;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

header {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
}

main {
  margin: 32px 0 0 0;
}

section:nth-child(1) article:first-child {
  padding: 0 17px;
}

section:first-child article h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 48px;

  text-align: center;
  letter-spacing: -0.01em;

  color: #2f241f;

  margin: 0 0 24px 0;
}

article h1 b {
  color: #817253;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0 10px;
}

.buttons button {
  border: none;
  text-transform: uppercase;
  padding: 18px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 12px;
}

.buttons button:first-child {
  background: #e5f0b6;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

.buttons button:last-child {
  border: solid black 1px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

section article:last-child img {
  width: 100%;
  /* height: 233px; */
  height: 233px;
  object-fit: cover;
}

section:first-child article:last-child {
  margin-top: 28px;
  position: relative;
  height: 233px;
}
section article:last-child .tag-highlight {
  position: absolute;
  text-transform: uppercase;
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  top: 20px;
  left: 21px;
  z-index: 10px;
}

section:first-child article:last-child div div {
  position: absolute;
  left: 21px;
  bottom: 24px;
}

section:first-child article:last-child div div span {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #2f241f;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 12px;
  padding: 8px 16px;
}

section:first-child article:last-child div div h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #ffffff;
  padding: 8px 0 0 8px;
  margin: 0;
}

section:nth-child(1) article:last-child div div a {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  margin-top: 8px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background: #2f241f;
  border-radius: 12px;
  padding: 12px 16px;
  display: flex;
  gap: 16px;
  width: fit-content;
  align-items: center;
}

section article:last-child div div a span {
  background: none;
}
section article:last-child div div a img {
  width: 16px;
  height: 16px;
}

section:nth-child(2) article:first-child {
  background: #2f241f;
  color: #e5f0b6;
  padding: 20px 24px;
  margin-bottom: 24px;
}

section:nth-child(2) article h1 {
  text-align: center;
  text-transform: uppercase;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  margin: 0;
}

section:nth-child(2) article h2 {
  margin: 24px 0 32px 0;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  text-align: center;
}

section:nth-child(2) article div ul {
  display: flex;
  flex-direction: column;
  margin: 0;
}

section:nth-child(2) article div ul li img {
  width: 40px;
  height: 40px;
}

section:nth-child(2) article div ul li {
  display: flex;
  align-items: center;
  gap: 16px;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
}

section:nth-child(2) article:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section:nth-child(2) article:last-child div {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #2f241f;
}

section:nth-child(2) article:last-child div span {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
}

section:nth-child(2) article:last-child ul {
  display: flex;
  padding: 0 12px;
  gap: 16px;
  margin: 31px 0 0 0;
}

section:nth-child(2) article:last-child ul li img {
  height: fit-content;
}

section:nth-child(2) {
  margin-bottom: 40px;
}

section:nth-child(3) article ul {
  display: flex;
  gap: 16px;
  margin: 0;
}

section:nth-child(3) article ul li img {
  border-radius: 12px;
  width: 103px;
  height: 140px;
  object-fit: cover;
}

section:nth-child(3) article:last-child {
  /* padding: 0 28px; */
}

section:nth-child(3) article h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}
section:nth-child(3) article h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  padding: 0px 35px;
}

section:nth-child(3) article:last-child > div {
  padding: 0 35px;
}

section:nth-child(3) article button {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  background: none;
  border: none;
  padding: 0px 16px;
}

section:nth-child(3) article .accordion-list {
  display: block;
}

section:nth-child(3) article div p {
  padding: 12px 16px 0 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

section:nth-child(3) article div .active {
  background: #e5f0b6;
}

section:nth-child(3) article div .accordion-head {
  padding: 20px 0;
}

section:nth-child(3) article:first-child {
  padding: 0 17px;
}

section:nth-child(3) {
  display: flex;
  flex-direction: column-reverse;
  gap: 24px;
  padding-bottom: 24px;
}

section:nth-child(4) article:first-child h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #e5f0b6;
  margin: 0;
}

section:nth-child(4) article:first-child h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  color: #e5f0b6;
}

section:nth-child(4) article a {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  background: #e5f0b6;
  border-radius: 12px;
  padding: 12px 16px;
  color: #2f241f;
  text-transform: uppercase;
}

section:nth-child(4) article:first-child > div:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}

section:nth-child(4) article ul {
  display: flex;
  gap: 16px;
  margin: 0;
  padding-top: 24px;
  padding-left: 16px;
}

section:nth-child(4) article ul li .active-card {
  background: linear-gradient(
      180deg,
      rgba(47, 36, 31, 0) 0%,
      rgba(47, 36, 31, 0.4) 100%
    ),
    #d9d9d9;
  border-radius: 12px;
  height: 200px;
  object-fit: cover;
}

section:nth-child(4) article ul .card {
  height: 160px;
}

section:nth-child(4) article ul li img {
  background: #d9d9d9;
  border-radius: 12px;
  height: 160px;
  object-fit: cover;
}

section:nth-child(4) article ul li {
  position: relative;
}

section:nth-child(4) article ul li > div {
  position: absolute;
  /* bottom: 0; */
  bottom: -74px;
  left: 10px;
}

section:nth-child(4) article ul li > div span {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 12px;
  padding: 8px 16px;
}

section:nth-child(4) article ul li > div p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
  margin: 0;
  padding-top: 8px;
  padding-bottom: 16px;
}

section:nth-child(4) article ul li > .tag {
  display: none;
}

section:nth-child(4) article ul li > .active {
  display: block;
}

section:nth-child(4) article:first-child {
  background: #2f241f;
  padding: 32px 0;
  position: relative;
  overflow: hidden;
}

section:nth-child(4) article .btn button {
  border: none;
  background: none;
}

section:nth-child(4) article .btn button img {
  background: #e5f0b6;
  border-radius: 100%;
  width: 100%;

  height: 13px;
  padding: 16px 9px;
}

section:nth-child(4) article .btn {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  left: -3px;
  width: 100%;
}

section:nth-child(4) article .btn button:nth-child(2) {
  right: 9px;
  position: absolute;
}
section:nth-child(4) article:last-child {
  background: #fcfafa;
  padding-bottom: 32px;
}
section:nth-child(4) article:last-child h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #2f241f;
  margin: 0;
}

section:nth-child(4) article:last-child h2 {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  text-align: center;
  letter-spacing: -0.01em;
  padding-top: 15px;
  color: #2f241f;
  padding-left: 35px;
  padding-right: 35px;
}

section:nth-child(4) article:last-child > div {
  padding: 20px 10px 0 10px;
}
section:nth-child(4) article:last-child form {
  display: flex;
  justify-content: center;
}

section:nth-child(4) article:last-child button {
  border: none;
  background: #e5f0b6;
  padding: 18px 17px;
  border-radius: 0 12px 12px 0;
}

section:nth-child(4) article:last-child button img {
  width: 16px;
  height: 16px;
}

section:nth-child(4) article:last-child input {
  border: none;
  padding: 18px 17px;
  border-radius: 12px 0 0 12px;
}

footer {
  padding-top: 35px;
  padding-bottom: 83px;
  display: flex;
  flex-direction: column;
}

footer > div:first-child {
  text-align: center;
}

footer > div:last-child {
  text-align: center;
  position: static;
}

footer div img {
  width: 90px;
  height: 27px;
}

footer p {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 24px;
  font-family: "Plus Jakarta Sans", sans-serif;
  padding: 35px 16px;
  color: #303030;
}
footer span {
  display: none;
}
footer > div:last-child {
  display: flex;
  gap: 50px;
  padding: 0 37px;
  flex-wrap: wrap;
  justify-content: center;
}

footer > div:nth-child(3) {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 37px;
  gap: 30px;
}

footer > div:nth-child(3) div {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

footer div:nth-child(3) div h5 {
  margin: 0px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  text-align: center;

  color: #303030;
}
footer > div:last-child ul {
  margin: 0;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;

  color: #303030;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

@media only screen and (min-width: 992px) {
  nav {
    padding: 16px 16px 16px 100px;
  }
  nav img {
    width: 160px;
  }
  #list {
    display: flex;
    justify-content: center;
    gap: 64px;
    font-size: 16px;
    flex-direction: row-reverse;
  }

  #list:nth-last-child(2) {
    gap: 20px;
  }

  #list a:nth-child(1) {
    background: #553b33;
    border-radius: 8px;
    padding: 14px 16px;
  }
  #list div a:nth-child(1) {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #2f241f;
    background: none;
    padding: 0;
  }
  #list > div {
    background: #e5f0b6;
    border-radius: 8px;
    padding: 18px 24px;
    letter-spacing: -0.01em;
  }
  #list img {
    width: 24px;
  }
  #menu-list {
    display: none;
  }
  .navbar {
    align-items: center;
  }
  #list li span img {
    width: 18px;
  }
  main {
    margin: 0;
  }
  section:nth-child(1) {
    display: flex;
    justify-content: space-between;
  }
  section:nth-child(1) article:first-child {
    padding: 160px 64px 0 142px;
  }
  section:first-child article h1 {
    font-weight: 800;
    font-size: 72px;
    line-height: 87px;
    width: 704px;
    text-align: left;
    margin: 0;
  }
  .buttons {
    flex-direction: row;
    padding: 0;
    padding-top: 48px;
  }
  .buttons button {
    padding: 22px 45px 22px 45px;
  }
  .buttons button:first-child {
    font-size: 24px;
  }
  .buttons button:last-child {
    font-size: 24px;
  }
  .buttons button img {
    width: 24px;
    height: 24px;
  }
  section:first-child article:last-child {
    margin-top: 0;
    height: 729px;
  }
  section article:last-child img {
    height: 729px;
  }
  section:first-child article:last-child div div span {
    font-size: 36px;
  }
  section:first-child article:last-child div div h2 {
    font-size: 64px;
    padding: 8px 0 16px 0;
  }
  section:nth-child(1) article:last-child div div a {
    font-size: 16px;
    margin-top: 0;
  }
  section article:last-child div div a img {
    width: 24px;
    height: 24px;
  }
  section:nth-child(2) article:first-child {
    margin-bottom: 0;
    padding: 72px 144px 72px 142px;
  }
  section:nth-child(2) article h1 {
    font-size: 24px;
    text-align: left;
  }
  section:nth-child(2) article h2 {
    font-size: 58px;
    margin: 0;
    padding: 40px 0;
    text-align: left;
  }
  section:nth-child(2) article div ul {
    gap: 64px;
    display: flex;
    flex-direction: row;
  }
  section:nth-child(2) article div ul li {
    font-size: 24px;
    line-height: 36px;
  }
  section:nth-child(2) article:last-child {
    padding-top: 80px;
    align-items: center;
    flex-direction: row;
  }
  section:nth-child(2) article:last-child div {
    font-size: 96px;
    padding-right: 150px;
    line-height: normal;
    align-items: baseline;
  }
  section:nth-child(2) article:last-child div span {
    font-size: 24px;
  }
  section:nth-child(2) article:last-child ul {
    margin: 0;
    gap: 88px;
  }
  section:nth-child(2) article:last-child ul li img {
    width: 100%;
    height: 52px;
  }
  section:nth-child(3) {
    gap: 48px;
    padding-top: 80px;
    flex-direction: row;
    padding-bottom: 0;
  }
  section:nth-child(3) article:first-child {
    padding: 0;
    width: 850px;
  }
  section:nth-child(3) article:first-child ul {
    display: flex;
    gap: 24px;
    flex-direction: row-reverse;
  }
  section:nth-child(3) article ul li img {
    width: 148px;
    height: 523px;
  }
  section:nth-child(3) article ul li .actived {
    /* width: 472px; */
    width: 325px;
  }
  section:nth-child(3) article:last-child {
    margin-right: 0;
    width: 451px;
  }
  section:nth-child(3) article h1 {
    font-size: 24px;
    margin: 0;
    text-align: left;
  }
  section:nth-child(3) article h2 {
    margin: 0;
    margin-top: 32px;
    font-size: 48px;
    text-align: left;
    padding: 0;
  }
  section:nth-child(3) article:last-child > div {
    padding-top: 32px;
    padding-left: 16px;
    padding-right: 16px;
  }
  section:nth-child(4) {
    padding-top: 80px;
  }
  section:nth-child(4) article:first-child {
    padding: 80px 0;
  }
  section:nth-child(4) article:first-child > div:nth-child(1) {
    padding: 0 142px;
  }
  section:nth-child(4) article:first-child h1 {
    font-size: 24px;
  }
  section:nth-child(4) article:first-child h2 {
    font-size: 48px;
    margin: 0;
    padding-top: 8px;
  }
  section:nth-child(4) article a {
    font-size: 16px;
  }
  section:nth-child(4) article ul {
    height: 472px;
    padding-top: 48px;
    /* gap: 36px; */
  }
  section:nth-child(4) article ul li img {
    width: 300px;
    height: 400px;
  }
  section:nth-child(4) article ul li .active-card {
    width: 354px;
    height: 472px;
  }
  section:nth-child(4) article ul .card {
    height: 400px;
  }
  section:nth-child(4) article .btn {
    display: flex;
    gap: 32px;
    justify-content: flex-end;
    top: 89%;
  }
  section:nth-child(4) article .btn button:nth-child(2) {
    position: static;
    padding-right: 141px;
  }
  section:nth-child(4) article ul li > div span {
    font-size: 24px;
  }
  section:nth-child(4) article ul li > div p {
    font-size: 48px;
  }
  section:nth-child(4) article:last-child {
    padding: 80px 142px;
    background: #fcfafa;
  }
  section:nth-child(4) article:last-child > div {
    padding: 0;
  }
  section:nth-child(4) article:last-child h1 {
    margin: 0;
    font-size: 24px;
    text-align: left;
  }
  section:nth-child(4) article:last-child h2 {
    font-size: 64px;
    padding-top: 42px;
    text-align: left;
    padding-left: 0;
    padding-right: 0;
  }
  section:nth-child(4) article:last-child > div:last-child {
    padding-top: 42px;
  }

  section:nth-child(4) article:last-child form {
    justify-content: flex-start;
  }
  section:nth-child(4) article:last-child input {
    width: 469px;
    font-size: 24px;
  }
  section:nth-child(4) article:last-child button {
    padding: 28px;
  }
  section:nth-child(4) article:last-child button img {
    width: 24px;
    height: 24px;
  }
  footer {
    padding: 80px 100px 93px 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  footer > div:first-child {
    width: 504px;
    text-align: left;
    position: relative;
  }
  footer p {
    margin: 0;
    padding-top: 36px;
    font-size: 16px;
    text-align: left;
    padding: 36px 0 0 0;
  }
  footer span {
    display: block;
    position: absolute;
    bottom: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #667085;
  }
  footer > div:last-child {
    display: flex;
    flex-direction: row;
    gap: 52px;
    text-align: left;
    padding: 0;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  footer > div:last-child h5 {
    font-size: 20px;
    margin: 0;
  }
  footer > div:last-child ul {
    margin: 0;
    gap: 30px;
    flex-direction: column;
    display: flex;
    padding-top: 25px;
  }

  .slick-slide {
    transform: scale(0.8);
    transition: all 0.4s ease-in-out;
    padding: 0;
  }

  .slick-slide img {
    max-width: 100%;
    transition: all 0.4s ease-in-out;
  }

  /* .slick-current {
    transform: scale(1.1);
  } */

  /* .slick-current {
    height: 472px !important;
  } */

  .slick-current img {
    background: linear-gradient(
        180deg,
        rgba(47, 36, 31, 0) 0%,
        rgba(47, 36, 31, 0.4) 100%
      ),
      #d9d9d9;
    border-radius: 12px;
    width: 354px !important;
    height: 472px !important;
    object-fit: cover;
  }

  .slick-current .tag {
    display: block !important;
    animation: anim1 0.9s;
  }

  @keyframes anim1 {
    0% {
      opacity: 0;
      bottom: 0px;
      left: 10px;
    }
    50% {
      opacity: 0.5;
      bottom: -30px;
      left: 10px;
    }
    100% {
      opacity: 1;
      bottom: -74px;
      left: 10px;
    }
  }

  .slick-prev {
    right: 201px;
    bottom: -42px;
    left: auto !important;
  }

  .slick-prev::before {
    content: url(/assets/icons/btn-arrow-left.svg) !important;
  }

  .slick-prev,
  .slick-next {
    z-index: 10;
    width: max-content !important;
    height: max-content !important;
    top: auto !important;
    background: #e5f0b6 !important;
    border-radius: 100%;
    padding: 12px 16px !important;
  }

  .slick-next {
    right: 125px !important;
    bottom: -42px;
  }

  .slick-next::before {
    content: url(/assets/icons/btn-arrow-right.svg) !important;
  }
}
